@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800;900&display=swap');


*{

    margin: 0px;
    padding: 0px;
}

body{
    
    font-family: 'League Spartan', sans-serif;
    
   
    
}


.search2{
    
    height: 50px;
    width: 493px;
    border-radius: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
   

}


.btn4{
    height: 25px;
    width: 80px;
    left: 469px;
    top: 14px;
    border-radius: 100px;
    background: #596377;
    color: white;
    border: none;
    
    }
.btn1{
    height: 36px;
    width: 116px;
    left: 469px;
    top: 14px;
    border-radius: 100px;
    background: #596377;
    color: white;
    border: none;
    
    }
    #search2{
        width: 250px;
        height: 30px;
        border: none;
        padding-left: 3px;
       
    }

    .logo a{
        text-decoration: none;
        width: 83px;
        height: 25px;
    }

    .logo h5{
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 18px;
    }
    .home ul li a{
        text-decoration: none;
        font-family: League Spartan;
        font-size: 18px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        color: black;

    }
    .container-fluid{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-item li a {
        font-family: League Spartan;
        font-size: 18px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        

    }
    .home ul li {

        list-style: none;
        display: inline-block;
        padding-right: 20px;

    }

    /* RESPONSIVE NAVBAR */

    .navdp{
   
    background: linear-gradient(75deg, /* to right, */ #F9F9F9 0%, #F9F9F9 50%, #00A78E 0%, #00A78E 45%);
    padding: 0%;
  }
 .navdp{
  position: sticky;
  top: 0px;
  right: 0px;
  
 }
    
    nav{
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        color: black;
        
      }
     
      nav .logo{
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: -1px;
      }
      nav .nav-items{
        display: flex;
       
       
      }
      nav .nav-items li{
        list-style: none;
        padding: 0 15px;
      }
      nav .nav-items li a{
        color:bl;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        font-family: 'League Spartan';
        font-size: 18px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        color: white;
        cursor: pointer;
        

      }
      nav .nav-items li a:hover{
        color: black;
      }
      nav form{
        display: flex;
        height: 40px;
        padding: 2px;
        background: white;
        min-width: 18%!important;
        border-radius: 80px;
        margin-left: 50px;
        
      }
      nav form .search-data{
        width: 100%;
        height: 100%;
        padding: 0 10px;
        color: #fff;
        font-size: 17px;
        border: none;
        font-weight: 500;
        background: none;
      }
      nav form button{
        padding: 0 15px;
        color: #fff;
        font-size: 17px;
        background: #ff3d00;
        border: none;
        border-radius: 2px;
        cursor: pointer;
      }
      nav form button:hover{
        background: #e63600;
      }
      nav .menu-icon,
      nav .cancel-icon,
      nav .search-icon{
        width: 40px;
        text-align: center;
        margin: 0 50px;
        font-size: 18px;
        color: black;
        cursor: pointer;
        display: none;
      }
      nav .menu-icon span,
      nav .cancel-icon,
      nav .search-icon{
        display: none;
      }
      nav form{
        height: 40px;
      }
     
      .search3{
    
        height: 60px;
        width: 500px;
        border-radius: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap:wrap ;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
       
    
    }
    .search3 i{
        color: black;
        margin-right: 10px;
    }
    #search3{
        width: 270px;
        height: 30px;
        border: none;
        padding-left: 3px;
       
    }
      @media (max-width: 1245px) {
        nav{
          padding: 0 50px;
          
        }
      }
      @media (max-width: 1140px){
        nav{
          padding: 0px;
        }
        nav .logo{
          flex: 2;
          text-align: center;
        }
        nav .nav-items{
          position: fixed;
          z-index: 99;
          top: 70px;
          width: 100%;
          left: -100%;
          height: 100%;
          padding: 10px 50px 0 50px;
          text-align: center;
          background:white;
          display: inline-block;
          transition: left 0.3s ease;
        }
        nav .nav-items.active{
          left: 0px;
        }
        nav .nav-items li{
          line-height: 40px;
          margin: 30px 0;
        }
        nav .nav-items li a{
          font-size: 20px;
        }
        nav form{
          position: absolute;
          top: 80px;
          right: 50px;
          opacity: 0;
          pointer-events: none;
          transition: top 0.3s ease, opacity 0.1s ease;
        }
        nav form.active{
          top: 95px;
          opacity: 1;
          pointer-events: auto;
        }
        nav form:before{
          position: absolute;
          content: "";
          top: -13px;
          right: 0px;
          width: 0;
          height: 0;
          z-index: -1;
          border: 10px solid transparent;
          border-bottom-color: #1e232b;
          margin: -20px 0 0;
        }
        nav form:after{
          position: absolute;
          content: '';
          height: 60px;
          padding: 2px;
          background: #1e232b;
          border-radius: 2px;
          min-width: calc(100% + 20px);
          z-index: -2;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        nav .menu-icon{
          display: block;
        }
        nav .search-icon,
        nav .menu-icon span{
          display: block;
        }
        nav .menu-icon span.hide,
        nav .search-icon.hide{
          display: none;
        }
        nav .cancel-icon.show{
          display: block;
        }
      }
      .content{
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
      }
      .content header{
        font-size: 30px;
        font-weight: 700;
      }
      .content .text{
        font-size: 30px;
        font-weight: 700;
      }
      .space{
        margin: 10px 0;
      }
      nav .logo.space{
        color: red;
        padding: 0 5px 0 0;
      }
      @media (max-width: 980px){
        nav .menu-icon,
        nav .cancel-icon,
        nav .search-icon{
          margin: 0 20px;
        }
        nav form{
          right: 30px;
        }
        nav .nav-items li a {
          color: black;
        }
      }
      @media (max-width: 350px){
        nav .menu-icon,
        nav .cancel-icon,
        nav .search-icon{
          margin: 0 10px;
          font-size: 16px;
        }
      }
      .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .content header{
        font-size: 30px;
        font-weight: 700;
      }
      .content .text{
        font-size: 30px;
        font-weight: 700;
      }
      .content .space{
        margin: 10px 0;
      }







      /* .kk2{
        height: 80px;
        overflow: hidden;
        position: relative;
    }
    
    .maink2{
    
      width: 690px;
      height: 750px;
      border-top: 745px solid #00A78E;
      border-bottom: 0px solid transparent;
      border-left: 200px solid transparent;
      float: right;
       
        
    } */



    /* END HERE */
   
    .nav1{
        background-image: url(/images/Rectangle\ 1\ \(1\).png);
        /* background-position: right; */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
    .logo-text{
        width: 83px;
        height: 25px;
    }

    .logo-text h5{
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 18px;
    }
    .navi{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 80px;
        
    }
    .single{
        color: #596377;
        margin-top: 90px;
    }
    .heading h3{
        margin-bottom: 25px;
    }
    .rating{
       height: 180px;
        border-left: 4px solid #00A78E;
        padding-left: 57px;
       
  
    }
    .rating span{
        font-family: "League Spartan";
        font-size: 16px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
       

    }
    .pak{
        
        display: flex;
        justify-content: space-between;
        line-height: 22px;
        margin-top: 20px;
        

    }
    .details{
        width: 536px;
    }
    .programs{
       
        height: fit-content;
        padding: 20px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        
    }
    
    .pro{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .pro h4{
        font-family: 'League Spartan';
        font-size: 16px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;

    }
    .flex{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        

        
    }
    .varify{
        margin-top: 50px;
        color: #596377;
    }
    .varify p {
        width: 573px;
    }
    .varify h3{
        margin-bottom: 20px;
    }
    .cat{
        font-family: "League Spartan";
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 15px;

    }
    .cat2{
        font-family: "League Spartan";
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;

    }

     @media  (max-width: 1000px) {

        body{
            text-align: center;
        }
        .flex {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
    
        }
        .details {
           
            margin-top: 70PX;
        }
        .varify p {
            width: auto;
        }
        .programs{
            
                width: 100%;
            
        }


        

        
    }
    @media  (max-width: 1000px) {

        .search2{
    
            height: 35px;
            width: 350px;
         
           
        
        }
        #search2{
            width: 177px;
            height: 20px;
            border: none;
            
        }

        
      


    }
    @media  (max-width: 500px) {
      nav{
   
        background: linear-gradient(75deg, /* to right, */ #F9F9F9 0%, #F9F9F9 60%, #00A78E 0%, #00A78E 45%);
        padding: 0%;
      }
    }
   
   



 




